/* Global style */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* image */
.image-section {
    flex: 2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Login */
.login-section {
    flex: 1;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
}


.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 150px;
    max-width: 100%;
    height: auto;
}

.highlight {
    color: #FBE216;
}

h2, h3 {
    margin: 20px auto;
    font-size: 30px;
}

/* input */
.input-group {
    display: flex;
    align-items: center;
    background: #222222;
    border-radius: 10px;
    overflow: hidden;
    height: 60px;
    width: 500px;
}


.icon-wrapper {
    background: #FBE216;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.icon img {
    width: 100%;
    height: auto;
}


.input-group input {
    font-family: poppins;
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    height: 100%;
    background: #FFFFFF;
    color: #222222;

}


.forgot-password {
    margin-top: 10px;
    font-family: Avenir LT Pro;
    display: block;
    text-align: left;
    color: #F98109;
    text-decoration: none;
    font-size: 12px;
}


.btn {
    display: block;
    margin: 10px auto;
    font-family: poppins;
    width: 150px;
    height: 40px;
    background: #fbE216;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
    margin-top: 10px;
    align-items: center;

}


.alternative-login {
    margin-top: 20px;
    font-size: 0.9rem;
    font-family: "Bahnschrift",sans-serif;
    font-weight: 700;
    font-stretch: SemiBold;
}

.external-logins {
    margin : 0 auto;
    width: 100%;
}

.register{
    font-family: Avenir LT Pro;
    color: gray;
    font-size: 12px;

}

.register a{
    text-decoration: none;
    color:#F98109;
}


.moodle, .ent{
    position: relative;
    margin: 0 auto;
    padding: 15px;
    width: 400px;
    height: 55px;
    background-color: #969696;
    border: none;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    transition: background-color 0.3s ease, border 0.3s ease;
    margin-bottom: -32px !important;
}

.moodle:hover, .ent:hover{
    background-color: #222222;
}

.moodle img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-right: 2px solid #222222;
    line-height: 30px;
    margin-left: 5px;
    padding-right: 17px;
}

.moodle div{
    margin: 0 auto;
    line-height: 55px;
    font-family: Poppins;
    font-weight: bold;
    color: #ffffff;
}

.ent img{
    display: inline-block;
    width: 16px;
    border-right: 2px solid #222222;
    line-height: 55px;
    margin-left: 15px;
    padding-right: 30px;
}

.ent div{
    margin: 0 auto;
    line-height: 30px;
    font-family: Poppins;
    font-weight: bold;
    color: #ffffff;
}

 .icon_back{
    box-sizing: border-box;
    margin : 0;
    position: relative;
    display: inline-block;
    bottom: 20px;
    left: 110px;
    width: 400px;
    height: 55px;
    background-color: yellow;
    border-radius: 10px;
    z-index: 1;
  }

.anonce{
    text-align: center;
    font-family: Avenir LT Pro;
    font-weight: 350;
    color: #454545;
    font-size: 16;
}

/* PARTIE JS */

.img_background {
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.img_authen{
    background-image: url(/public/assets/image/img_authen.svg)!important;
}

.img_stu{
    background-image: url(/public/assets/image/img_stu.svg)!important;
}

.img_pilote{
    background-image: url(../Source/img_pilote.svg)!important;
}


.bg_default {
    background-image: url(/public/assets/image/general.svg)!important;
    width: 100%;
}


/* page d'inscription */

* {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* La partie gauche */
.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
.banner_vert{
    display: inline-block;
    background-attachment: fixed;
    position: relative;
    width: 53%;
    height: 100%;
    background-color: #6FBC84;
    overflow: hidden;
}

.banner_bordure{
    display: flex;
    border: 3px solid #FBE216;
    background-attachment: fixed;
    margin: 15px 0px 15px 15px;
    width: 97%;
    height: 97%;
    box-sizing: border-box;
}

.banner_bordure img{
    padding-top: 45px;
    width: 190px;
    height: 120px;
    padding-left: 40px;
}
.web4all_logo img{
    padding-top: 35px;
    width: 210px;
    height: 155px;
}

.title{
    display: flex;
    font-family: 'Bahnschrift', sans-serif;
    font-weight:  700;
    font-stretch: semi-condensed;
    font-size: 70px;

    position: absolute;
    top: 332px;
    left: 84px;
    z-index: 1;

}
.title::after{
    content: '';
    background-color: #FFFFFF;
    width: 305px;
    height: 16px;
    position: absolute;
    top: 46px;
    left: 3px;
    z-index: -1;
}

.sous_title{
    font-family: 'Bahnschrift', sans-serif;
    font-weight:  700;
    color: #FFFFFF;
    font-size: 42px;
    width: 357px;
    height: 100px;

    position: absolute;
    top: 436px;
    left: 84px;
}

.annonce{
    font-family: 'Poppins', sans-serif;
    font-weight:  300;
    color: #1D5C20;
    height: 90px;
    width: 414px;
    font-size: 20px;

    position: absolute;
    top: 87%;
    left: 4%;
}

.humain {
    position: absolute;
    bottom: -25px;
    left: 273px;
    width: 731px;
    height: 1031px;
}

.humain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inset(0px 0px 18px 0px);
}

.ligne_1{
    position: absolute;
    font-family: 'Impact', sans-serif;
    font-size: 96px;
    color: #FBE216;
    background-color: #222222;
    background-position: left;
    height: 78px;
    line-height: 78px;
    top: 659px;
    left: 470px;
}

.ligne_2{
    position: absolute;
    font-family: 'Impact', sans-serif;
    font-size: 96px;
    color: #222222;
    background-color: #FBE216;
    background-position: left center;
    height: 78px;

    line-height: 78px;
    top: 737px;
    left: 470px;
}


/* La partie droite */
.form-container{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.form-container label{
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    color: #3E724C;
    margin: 6px 8px;

}

.form-container input{
    margin: 0 auto;
    display: flex;
    width: 620px;
    height: 50px;
    border: 1px solid #3E724C;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #3E724C;
    outline: none;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    align-items: center;
}

.checkbox_container {
    display: flex;
    align-items: flex-start;
    max-width: 630px;
    margin-top: 10px;
    flex-wrap: wrap;
}


.checkbox_container input[type="checkbox"] {
    margin: 2px 45px 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: 2px #3E724C solid;
}


.checkbox_container label {
    margin: 0 -15px;
    font-size: 14px;
    color: #000000;
    line-height: 24px;
    font-weight: 400;
    flex: 2;
}

#toggle-password-btn-1{
    position: absolute;
    z-index: 2;
    margin: 349px 558px;
    width: 66px;
    height: 48px;
    border-radius: 0px 9px 9px 0px;
    border: none;
    color: #ffffff;
    background-color: #6FBC84;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;

}

#toggle-password-btn-2{
    position: absolute;
    z-index: 2;
    margin: 452px 558px;
    width: 66px;
    height: 48px;
    border-radius: 0px 9px 9px 0px;
    border: none;
    color: #ffffff;
    background-color: #6FBC84;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

#toggle-password-btn-1:hover, #toggle-password-btn-2:hover{
    background-color: #1C6C32;
}

.botton_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 620px;
}


.inscription{
    position: relative;
    margin: 20px auto;
    height: 51px;
    width: 362px;
    background-color: #6FBC84;
    text-align: center;
    line-height: 51px;
    border-radius: 51px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.inscription:hover{
    background-color: #1C6C32;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.inscription:active{
    animation: ripple 0.6s linear;
}


.divider{
    height: 1px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 5px;

}

.divider:before,
.divider:after{
    content: '';
    flex-grow: 1;
    border-top: 0.2px solid #192F1F;
    opacity: 0.32;

    height: 1px;
    z-index: -1;
}

.divider span{
    display: block;
    padding: 0 10px;
    color: #3E724C;
    font-size: 12px;
    background-color: #FFFFFF;
    z-index: 0px;
}

.divider a{
    display: block;
    padding: 0 10px;
    color: #3E724C;
    font-size: 12px;
    background-color: #FFFFFF;
    z-index: 0px;
    font-weight: 700;
    text-decoration: none;

}

.icon{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 0.2px solid #c8ccc9 ;
    box-sizing: border-box;

    margin: 20px 10px;

    transition: background-color 0.3s ease;
}

.icon:hover{
    background-color: #A5D8B3;
}

.icon_container{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 10px;
}

.icon .google_icon{
    width: 30px;
    height: 30px;
    margin: 10px 10px 30px;
}

.icon .linkedin_icon{
    height: 41px;
    width: 41px;
    margin: 5px 3px;
}

.icon .cesi_simple_icon{
    height: 34px;
    width: 20px;
    margin: 8.5px 14px;
}

.article{
    margin: 30px auto;
    width: 498px;
    height: 42px;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    color: #3E724C;
    line-height: 24px;
    font-weight: 400;
    flex: 1;
}

.article a{
    color: #F98109;
}

.error_message{
    color: red;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff0000;
}

